div.grid-view thead th, div.grid-view tfoot td{
  background: #8D8D8D;
}
div.grid-view td.button-column{
  text-align: center;
}
div.grid-view td.button-column > a.button{
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 5px;
}
.subscription-invoice, .subscription-type{
  display: none;
}