body
{
  margin: 0;
  padding: 0;
  font: normal 10pt Arial,Helvetica,sans-serif;
}

.orange, #mainmenu ul li.active a, .menu li.active a, div.breadcrumbs span, h1{
  color: #fa6126;
}
.gray, #mainmenu ul li a:hover, .menu li a:hover, .left-menu-item > a:hover,
#left-column > ul > li.active > a{
  color: #656565;
}
.beige, body, div.breadcrumbs a, #mainmenu ul li a, .menu li a, .button{
  color: oldlace;
}

.back-gray, body{
  background: #656565;
}
.back-beige, .left-menu-item > a:hover, #mainmenu ul li a:hover, .menu li a:hover{
  background: oldlace;
}

#page
{
  margin: 5px auto;
  max-width: 1400px;
  min-width: 700px;
}

#page > div{
  margin: 0 20px;
}

#header
{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid oldlace;
}

#content
{
  display: table;
  width: 100%;
}
#content > div{
  display: table-cell;
  vertical-align: top;
}

#footer
{
  padding: 10px;
  font-size: 0.8em;
  border-top: 1px solid oldlace;
}

#logo
{
  padding: 10px 20px 10px 0;
  font-size: 400%;
  display: table;
}
#logo img{
  padding-right: 20px;
}
#logo > div{
  display: table-cell;
  vertical-align: top;
  width: 500px;
}

#mainmenu
{
  float: right;
}

#mainmenu ul
{
  padding:6px 20px 5px 20px;
  margin:0px;
}

#mainmenu ul li, .menu li
{
  display: inline;
}

#mainmenu ul li a, .menu li a
{
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  padding:5px 8px;
}

#mainmenu ul li a:hover, .menu li a:hover
{
  text-decoration:none;
}
.menu{
  padding: 0;
}
#left-column{
  background: #8D8D8D;
  padding: 20px 15px;
  width: 20%;
  height: 515px;
}

#right-column{
  /*float: right;*/
  width: 19%;
}

#signal-block, #registr-block{
  background: #B06E54;
  padding: 20px 15px;
}
#registr-block{
  text-align: center;
}

#registr-dialog{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(100, 100, 100, 0.6);
}

#registr-dialog > div{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 15%;
  left: 0;
  right: 0;
  width: 340px;
  height: 320px;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px 0;
  background: #8C5B48;
}

#registr-form > div{
  margin: 5px;
}

.left-menu-item > a{
  text-decoration: none;
  padding: 5px;
  display: block;
  font-size: 12pt;
}
#left-column > ul > li.active > a{
  background: #BDB9B1;
}
div.flash-error, div.flash-notice, div.flash-success
{
  padding:.8em;
  margin-bottom:1em;
  border:2px solid #ddd;
}

div.flash-error
{
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

div.flash-notice
{
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}

div.flash-success
{
  background:#E6EFC2;
  color:#264409;
  border-color:#C6D880;
}

div.flash-error a
{
  color:#8a1f11;
}

div.flash-notice a
{
  color:#514721;
}

div.flash-success a
{
  color:#264409;
}

div.form .rememberMe label
{
  display: inline;
}

div.view
{
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
  font-size: 0.9em;
  padding: 5px 10px;
}

div.breadcrumbs a{
  text-decoration: none;
}

div.breadcrumbs span, div.breadcrumbs a
{
  font-weight: bold;
}

div.search-form
{
  padding: 10px;
  margin: 10px 0;
  background: #eee;
}
.bold{
  font-weight: bold;
}

.button{
  padding: 5px;
  margin: 5px;
  background: #CB5C31;
  cursor: pointer;
  border: none; 
}
.button:hover{
  background: #FA6126;
  color: white;
}
.button:active{
  background: #C2552C;
}

.errorMessage{
  color: yellow;
}
