/* 
    Document   : admin
    Created on : 23.10.2013, 15:34:50
    Author     : Greg Bakos <greg@londonfreelancers.co.uk>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

#login-form
{
  width: 220px;
  padding: 26px;
  margin: 114px auto 0;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  border: 1px solid rgb(229, 229, 229);
  box-shadow: 0px 4px 10px -1px rgba(200, 200, 200, 0.7);
}

.submit
{
  float: right;
}